name: Angular GitHub CI
on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run build -- --prod # generate the dist/sesame-demmo folder
      - name: Test
        run: npm run test -- --prod
      # only needed to upload the artifact not needed to build the image,
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: sesame-demmo
          path: dist

  publish-hello-sesame-docker-image:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the hello-SESAME Docker image
        run: |
          docker build . --tag ghcr.io/SESAME-Implementation-testing/hello-docker-sesame-demo:latest
          docker push ghcr.io/SESAME-Implementation-testing/hello-docker-sesame-demo:latest
